numpy
future
Bottleneck
Cartopy
cmocean
concurrent
dask[complete]
fsspec
getpass
http
io
itertools
matplotlib
netCDF4
netrc
pandas
pathlib
platform
pyresample
python-dateutil
requests
s3fs
shutil
sys
time
tqdm
urllib
xarray
xmitgcm
xgcm
